@using System.Data
@using TransGuzman_UI.Models
@model RouteListViewModel

<select id="order-select " class="form-select" aria-label="Default select example" onchange="onSelectChange()">
    @foreach (SelectListItem item in Model.OrderSelectItems)
    {
        <a asp-controller="Routes" asp-action="Index" asp-route-id="@item.Value" class="function-link">
        <option value="@item.Value" selected="@item.Selected">@item.Text</option>
        </a>
    }
</select>
<table class="table table-light table-striped">
    <thead>
        <tr>
            @foreach (DataColumn column in Model.EntitiesTable.Columns)
            {
                <th scope="col">@column.ColumnName.ToUpper().Replace("_", " ")</th><!--En mayúsculas para probar-->
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dataRow in Model.EntitiesTable.Rows)
        {
        <tr>
            @foreach (DataColumn dataColumn in Model.EntitiesTable.Columns)
            {
                if (dataRow[dataColumn.ColumnName] == DBNull.Value)
                {
                    
                    <td><a asp-action="Editar">Asignar</a></td>
                }
                else
                {
                    <td>@dataRow[dataColumn.ColumnName]</td>
                }
            }
            <td>
                <a asp-controller="Routes" asp-action="Detalles" asp-route-routeNumber="@dataRow["numero_ruta"]" class="function-link">
                    Detalles
                </a>
                |
                <a asp-controller="Routes" asp-action="Editar" asp-route-routeNumber="@dataRow["numero_ruta"]" class="function-link">
                    Editar
                </a>
                |
                <a asp-controller="Routes" asp-action="Borrar" asp-route-routeNumber="@dataRow["numero_ruta"]" class="function-link text-danger"
                   onclick="return confirmDelete()">
                    Borrar
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    function confirmDelete() {
        return confirm("Esta operación es irreversible. ¿Seguro que quieres borrar el activo?");
    }

    //TODO Hacer que funcione... Se me resiste JQuery. Con entity framework es más fácil.
    function onSelectChange() {
        var select = document.getElementById("order-select");
        var item = $('#order-select').first(":selected");
        $.ajax({
            url: 'Transportistas?sortMode=' + item.getAttribute("value"),
            data: { id: id }
        })
    }
</script>